<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Página de Animações - PowerPoint</title>

    <link rel="stylesheet" href="/css/comum.css" />
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/media.css">
    <link rel="shortcut icon" type="imagex/png" href="/img/powerPointLogo.png">
    <script src="/js/navbar.js" defer></script>
  </head>
  <body>

    <!-- Colocar o navbar -->
    <header>
      <h1 id="Office">Office Academy</h1>
      <nav class="header-navbar">
        <button id="btn-mobile">
          <span id="hamb"></span>
        </button>
        <ul class="navbar-menu">
          <li><a href="/index.html#section-introduction">Início</a></li>
          <li><a href="/index.html#atalhos">Atalhos</a></li>
          <li><a href="/index.html#pages">Páginas</a></li>
        
        </ul>
      </nav>
    </header>



    <section class="landing-page">

      <article class="landing-page-wrapper">

        <article id="text">

          <h1>Página Arquivo</h1>
          <p>
            O Microsoft PowerPoint, assim como outros programas do Microsoft Office, possui a guia "Arquivo" (ou "Ficheiro" em algumas versões em português) que fornece acesso a várias opções relacionadas ao gerenciamento de arquivos e configurações do aplicativo. Aqui estão algumas das principais ferramentas e opções que você pode encontrar na aba "Arquivo" do PowerPoint:

          </p>
        </article>
    
      </article>
    </section>
    <section id="ferramentas">
      <h1>Ferramentas</h1>
      <section id="ferramentas-text-content">
      <p>
        Novo: Permite criar um novo documento em branco, uma apresentação em branco ou baseada em modelos disponíveis.
</p>
<p>
        Abrir: Abre um arquivo existente do seu computador ou de uma localização na nuvem, como o OneDrive.
      </p>
        <p>
        Salvar: Salva o arquivo atual no local atual ou em uma nova localização. Você pode escolher salvar no seu computador, OneDrive ou outras opções de armazenamento na nuvem.
      </p>
<p>
        Salvar Como: Permite que você salve o arquivo com um novo nome ou em um formato diferente. Também é possível escolher a localização onde deseja salvar o arquivo.
      </p>
        <p>
        Histórico: Mostra as versões anteriores do documento, se o histórico de versões estiver ativado.
    
      </p>
      <p>
        Imprimir: Configura e imprime a apresentação ou exporta para um arquivo PDF.
      </p>
      <p>
        Compartilhar: Permite compartilhar o arquivo com outras pessoas por email ou através de uma rede colaborativa, como o OneDrive ou SharePoint.
      </p>
      <p>
        Exportar: Exporta a apresentação para outros formatos, como PDF, vídeo, imagem, etc.
      </p>
      <p>
        Fechar: Fecha o PowerPoint e retorna à tela inicial ou ao último documento aberto.
        
      </p>
      <p>
        Conta: Permite gerenciar sua conta Microsoft (se estiver conectado) e acessar opções de configuração e personalização.
      </p>
      <p>
        Opções: Abre as configurações do PowerPoint, onde você pode personalizar o comportamento do aplicativo.
      </p>
      <p>
        Ajuda: Fornece acesso a recursos de ajuda, como tutoriais e suporte técnico.
      </p>
    <p>
        Sair: Fecha completamente o PowerPoint.
      </p>
    </section>
  </section>
  </body>
</html>
