<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Página de Animações - PowerPoint</title>

    <link rel="stylesheet" href="../css/comum.css" />
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/media.css">
    <link rel="shortcut icon" type="imagex/png" href="../img/powerPointLogo.png">
    <script src="../js/navbar.js" defer></script>
  </head>
  <body>

    <!-- Colocar o navbar -->
    <header>
      <h1 id="Office">Office Academy</h1>
      <nav class="header-navbar">
        <button id="btn-mobile">
          <span id="hamb"></span>
        </button>
        <ul class="navbar-menu">
          <li><a href="../index.html#section-introduction">Início</a></li>
          <li><a href="../index.html#atalhos">Atalhos</a></li>
          <li><a href="../index.html#pages">Páginas</a></li>
      
        </ul>
      </nav>
    </header>



    <section class="landing-page">
      <article class="landing-page-wrapper">
        <article id="text">
          <h1>Página Design</h1>
          <p>
            A aba "Inserir" no Microsoft PowerPoint oferece uma variedade de ferramentas e opções para adicionar elementos e conteúdo às suas apresentações. Aqui estão algumas das principais ferramentas e opções disponíveis na aba "Inserir" do PowerPoint:

          </p>
        </article>
       
      </article>
    </section>
    <section id="ferramentas">
      <h1>Ferramentas</h1>
      <section id="ferramentas-text-content">
      <p>
        <strong>Temas:</strong> Escolher um tema apropriado para a sua apresentação define o estilo geral, esquema de cores e fontes que serão aplicados consistentemente em todos os slides.
      </p>
      <p>
        <strong>Variações de Tema:</strong> Variações de tema permitem ajustar o estilo do tema escolhido, personalizando as cores e os estilos para atender às suas preferências.
      </p>
      <p>
        <strong>Transição de Slide:</strong> Configurar transições de slides suaves e atraentes para criar uma experiência de apresentação mais dinâmica.
      </p>
      <p>
        <strong>Fundo do Slide:</strong> Personalizar o fundo do slide com cores, imagens ou gradientes para adicionar interesse visual às suas apresentações.
      </p>
      <p>
        <strong>Mestre de Slides:</strong> Usar o mestre de slides para personalizar ainda mais o design de todos os slides mestres na apresentação, o que afeta a aparência de todos os slides da sua apresentação.
      </p>
  
    </section>
    </section>
  </body>
</html>
