<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Página de Animações - PowerPoint</title>

    <link rel="stylesheet" href="../css/comum.css" />
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/media.css">
    <link rel="shortcut icon" type="imagex/png" href="../img/powerPointLogo.png">
    <script src="../js/navbar.js" defer></script>
  </head>
  <body>

    <!-- Colocar o navbar -->
    <header>
      <h1 id="Office">Office Academy</h1>
      <nav class="header-navbar">
        <button id="btn-mobile">
          <span id="hamb"></span>
        </button>
        <ul class="navbar-menu">
          <li><a href="../index.html#section-introduction">Início</a></li>
          <li><a href="../index.html#atalhos">Atalhos</a></li>
          <li><a href="../index.html#pages">Páginas</a></li>
    
        </ul>
      </nav>
    </header>



    <section class="landing-page">
      <article class="landing-page-wrapper">
        <article id="text">
          <h1>Página Inserir</h1>
          <p>
            A aba "Inserir" no Microsoft PowerPoint oferece uma variedade de ferramentas e opções para adicionar elementos e conteúdo às suas apresentações. Aqui estão algumas das principais ferramentas e opções disponíveis na aba "Inserir" do PowerPoint:

          </p>
        </article>
       
      </article>
    </section>
    <section id="ferramentas">
      <h1>Ferramentas</h1>
      <section id="ferramentas-text-content">
      <p>
        <strong>Slides Novos:</strong> Permite inserir novos slides em sua apresentação. Você pode escolher
         entre diferentes
         layouts de slide, como título e conteúdo, apenas conteúdo, entre outros.
      </p>
      <p>
        <strong>Tabela:</strong> Insere uma tabela em um slide para organizar dados de forma tabular.
      </p>
      <p>
        <strong>Imagens:</strong> Permite adicionar imagens de seu computador ou de uma fonte online à apresentação.
      </p>
      <p>
        <strong>Formas:</strong> Oferece várias formas geométricas que você pode inserir em um slide, como retângulos, círculos, setas, etc.
      </p>
      <p>
        <strong>Imagens:</strong> Conta com a inserção de mídia de arquivos de
        fotos (PNG, JPEG, JFIF etc.), que estão disponíveis em seu dispositivo.
        Localizada a direita da ferramenta de “Tabela”.
      </p>
      <p>
        <strong>SmartArt:</strong> Permite criar gráficos e diagramas visualmente atraentes para representar informações complexas.
      </p>
      <p>
        <strong>Gráfico:</strong> A ferramenta “gráfico”, disponibiliza a
        utilização de gráficos (circulares, barras, linhas etc.) para
        representar dados de maneira imagética. Para utilizar a ferramenta,
        basta selecionar o tipo de gráfico que o usuário deseja e, editar suas
        informações a partir da planilha do Excel que aparecerá logo abaixo.
        Esta ferramenta pode ser encontrada à direita de Formas.
      </p>
      <p>
      </section>
    </section>
  </body>
</html>
