<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Página de Animações - PowerPoint</title>

    <link rel="stylesheet" href="../css/comum.css" />
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/media.css">
    <link rel="shortcut icon" type="imagex/png" href="../img/powerPointLogo.png">
    <script src="../js/navbar.js" defer></script>
  </head>
  <body>

    <!-- Colocar o navbar -->
    <header>
      <h1 id="Office">Office Academy</h1>
      <nav class="header-navbar">
        <button id="btn-mobile">
          <span id="hamb"></span>
        </button>
        <ul class="navbar-menu">
          <li><a href="../index.html#section-introduction">Início</a></li>
          <li><a href="../index.html#atalhos">Atalhos</a></li>
          <li><a href="../index.html#pages">Páginas</a></li>
       
        </ul>
      </nav>
    </header>

    <section class="landing-page">

      <article class="landing-page-wrapper">

        <article id="text">
          <h1>Página Animações</h1>
          <p>
            A aba "Animações" no Microsoft PowerPoint é uma das abas principais da faixa
            de opções e contém várias ferramentas e opções para controlar animações e efeitos. Aqui estão algumas das
            principais funcionalidades disponíveis na aba "Animações":
          </p>
        </article>
    
      </article>
    </section>
    <section id="ferramentas">
      <h1>Ferramentas</h1>
      <section id="ferramentas-text-content">
      
      <p>
        <strong>Caminhos de animação:</strong> Você pode mover um objeto no slide.
      </p>
      <p>
        <strong>Duração e/ou Atraso:</strong> Permite definir o tempo da animação, selecione
        um item animado e altere os números nas caixas de texto Duração e/ou Atraso.
      </p>
      <p>
        <strong> Iniciar:</strong> Permite alterar como a animação é iniciada,
        dentro da opção Iniciar temos Ao clicar, Com Anterior ou Após Anterior.
      </p>
      <p>
        <strong> Reordenar Animação:</strong> Modifica a ordem que as animações
        são apresentadas, apertando em Mover Antes ou Mover Depois.
      </p>
      <p>
        <strong> Pintor de Animação: </strong> Para adicionar uma animação existente
        a outro objeto, apenas selecione o item que deseja .
      </p>
      <p>
        <strong> Numeração de Página: </strong> Permite adicionar números de
        página ao documento, personalizar o formato dos números e controlar a
        localização dos números de página nas páginas.
      </p>
      <p>
        <strong>Borda da Página:</strong>Permite adicionar bordas ao redor das
        páginas do documento, como linhas, sombras ou estilos personalizados.
      </p>
      <p>
        <strong>Plano de Fundo da Página:</strong>Você pode definir um plano de
        fundo personalizado para o documento ou para uma seção específica, como
        uma cor, uma imagem ou uma marca d'água.
      </p>
      <p>
        <strong> Títulos: </strong> Facilita a aplicação de estilos de título e
        a criação de uma estrutura hierárquica no documento, útil para gerar
        sumários automáticos.
      </p>
      <p>
        <strong> Espaçamento: </strong> Permite controlar o espaçamento entre
        linhas, parágrafos e margens, ajustando o espaço vertical no documento.
      </p>
    </section>
    </section>
  </body>
</html>
